<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% for(let i = 0; i < data.length; i++) { %>
    <div style="display: flex;">
      <p><%= data.length - i %></p>
      <p><input type="text" value="<%= data[i].name %>" readonly></p>
      <p><input type="text" value="<%= data[i].age %>" readonly></p>
    </div>
  <% } %>
</body>
</html>